base_url=http://localhost:8000/api
auth_url=http://localhost:8000/o
media_url=http://localhost:8000/media
client_id=TU_CLIENT_ID
client_secret=TU_CLIENT_SECRET
username=admin
password=TU_PASSWORD
access_token=
